.mainBody {
  text-align: center;
  background-color: black;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.body1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading1 {
  margin-top: 130px;
  font-size: 2.6rem;
  color: #FE6A34;
  font-weight: 600;
  margin-bottom: 2px;
}

.heading2 {
  color: #A3A3A3;
  margin-top: 0px;
  font-size: 1.1rem;
  margin-bottom: 30px;
  font-weight: 500;
}

.signUpBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE6A34;
  border: none;
  color: white;
  padding: 10px 16px;
  font-weight: 600;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 100px;
}

.signUpBtn:hover {
  background-color: #dc663b;
}

.signupIcon {
  margin-left: 5px;
  font-size: 1.2rem;
}

.hRule {
  width: 97vw;
  background-color: #363535;
  border: none;
  height: 0.3px;
}

.body2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  margin-bottom: 0px;
}

.logoDiv {
  display: flex;
  align-items: center;
}

.mainIcon {
  color: #FE6A34;
  font-size: 2rem;
  padding: 0;
  margin-bottom: 10px;
  margin-right: 2px;
}

.brandName {
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.onText {
  color: #FE6A34;
}

.onText:hover {
  color: white;
}

.footerTextBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #A3A3A3;
  gap: 30px;
  font-family: sans-serif;
}

.footerText {
  font-size: 1.05rem;
  font-weight: 200;
}

.footerText:hover {
  color: #FE6A34;
  cursor: pointer;
}

.iconBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FE6A34;
  gap: 30px;
  font-size: 1.5rem;
}

.copyRightBody {
  margin-top: -7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.allRights {
  margin-left: 30px;
  font-size: 0.9rem;
  color: #585858;
  font-weight: 300;
}

